* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background: url(./images/background.png);
  background-size: cover;
  background-position: center;
  padding: 0 3%;
  color: #fff;
}

nav {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}

nav ul {
  flex: 1;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav .btn {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.content {
  margin-top: 5%;
}

.content h1 {
  font-size: 69px;
  margin-bottom: 15px;
}

.content h1 span {
  color: #ff960b;
}

.content p {
  line-height: 22px;
  font-size: 14px;
}

.content .btn {
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  background: #ff960b;
  padding: 15px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.coin-list {
  position: absolute;
  right: 10%;
  bottom: 50px;
  display: flex;
  align-items: center;
}

.coin {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 0 15px;
  color: #ff960b;
  border: 1px solid #fff;
  padding: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.coin img {
  width: 40px;
  margin-right: 10px;
}

.coin h3 {
  color: #fff;
  margin-bottom: 5px;
}

@media screen and (max-width: 930px) {
  nav ul {
    display: flex;
  }

  nav ul li {
    padding: 0 2px;
    font-size: 10px;
    margin: 10px;
  }

  nav .btn {
    padding: 5px 20px;
    font-size: 12px;
  }

  .content h1 {
    font-size: 44px;
  }

  .coin-list {
    right: 5%;
    bottom: 3%;
    flex-direction: column;
  }

  .coin {
    font-size: 10px;
    margin: 5px;
    padding: 5px;
    width: 100%;
  }

  .coin img {
    width: 30px;
  }
}
